<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>635119417753-f8t45td1foaje5ion2a3ianirjml15rc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.635119417753-f8t45td1foaje5ion2a3ianirjml15rc</string>
	<key>API_KEY</key>
	<string>AIzaSyAVge3igKbt7GZKtK6IWSejZBVGnwip83U</string>
	<key>GCM_SENDER_ID</key>
	<string>635119417753</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.inkobako.ourworld</string>
	<key>PROJECT_ID</key>
	<string>ourworld-737cd</string>
	<key>STORAGE_BUCKET</key>
	<string>ourworld-737cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:635119417753:ios:f073a1f0cd14b56d033b08</string>
</dict>
</plist>