*::-webkit-scrollbar-track {
  background-color: rgb(76, 76, 76) !important;
}

#root {
  width: 100%;
  height: 100%;
  background-size: cover;
}

html {
  /* scroll-behavior: smooth !important; */
  overflow-x: hidden;
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
}

h1 {
  font-family: "Fira Sans Condensed", sans-serif;
}

p {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
}

.body {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background: linear-gradient(to bottom, rgb(245, 97, 97, 0.85) 0%, rgb(194, 13, 98, 0.85) 100%); */
}

.scrollY {
  overflow-y: auto;
  overflow-x: hidden;
}

.container {
  /* color: rgb(63, 95, 126); */
  margin: auto;
  padding: 2rem;
  height: max-content;
  width: fit-content;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  /* border-width: 1px;
  border-style: solid;
  border-color: rgb(201, 201, 201); */
  background-color: white;
  gap: 1rem;
  overflow: hidden;
  position: relative;
  /* box-shadow: 0 3px 20px rgba(0, 0, 0, 0.24); */
  transition: all 0.5s ease-in-out;
}

.container h1 {
  width: 100%;
  /* text-align: center; */
}

.third-party {
  color: black;
  /* width: 100%; */
  /* padding: 0 2rem; */
  min-width: 275px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* margin-top: 1rem; */
  background-color: white;
  border-radius: 100px;
  /* justify-content: space-between; */
  padding: 0.5rem;
  gap: 1rem;
  border-width: 1px;
  border-style: solid;
}

.third-party img {
  height: 1.75rem;
}

.third-party p {
  /* width: 100%; */
  margin: 0;
}

.third-party:hover {
  cursor: pointer;
  background-color: rgb(215, 215, 215);
}

.google {
  /* background: linear-gradient(
    to bottom,
    rgb(255, 123, 113) 0%,
    rgb(252, 59, 123) 100%
  ); */
  border-color: rgb(255, 69, 69);
}

.twitter {
  /* background: linear-gradient(
    to bottom,
    rgb(113, 222, 255) 0%,
    rgb(59, 175, 252) 100%
  ); */
  border-color: rgb(35, 200, 255);
}

/* Language: css  the following code will only style for phones */

@media only screen and (max-width: 600px) {
  .header-container h3 {
    font-size: 600%;
  }

  .posts-col {
    width: max-content;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    margin-left: 0 !important;
  }

  .page-col {
    width: 100% !important;
    justify-content: center;
  }

  .post {
    font-size: 300% !important;
    margin-top: 3rem !important;
  }

  .post h1 {
    font-size: 150% !important;
  }
}

@media only screen and (min-width: 600px) {
  .page-col {
    width: fit-content;
    /* justify-content: center; */
    /* align-items: center; */
  }

  .header-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    /* padding: 1rem 0; */
  }

  .header-container h1 {
    margin: 0;
    font-size: xx-large;
  }

  .header-container p {
    margin: 0;
  }

  .header-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 55px;
    /* padding: 1rem 0; */
  }

  .header-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
  }

  .post {
    position: relative;
    margin-top: 1rem;
    display: block;
    width: 100%;
    background-color: white;
    border-radius: 15px;
    padding: 1.5rem;
    animation: upIn 0.5s ease-in-out;
  }

  .post img {
    position: relative;
    width: 100%;
    /* margin-bottom: 1rem; */
  }

  @keyframes upIn {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }

    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .post p {
    margin: 0;
  }

  .shadow {
    /* box-shadow: 0 3px 20px rgba(0, 0, 0, 0.24); */
    box-shadow: none !important;
    border: rgb(223, 223, 223) solid 1px;
  }

  .svg-shadow {
    /* box-shadow: 0 3px 20px rgba(0, 0, 0, 0.24); */
    box-shadow: none !important;
    /* border: rgb(223, 223, 223) solid 1px; */
  }

  .fixed-button {
    position: fixed;
    bottom: 1.5rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: rgb(63, 95, 126);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* box-shadow: 0 3px 20px rgba(0, 0, 0, 0.24); */
    cursor: pointer;
    margin-left: 1rem;
  }

  .fixed-button:hover {
    background-color: rgb(63, 95, 126, 0.85);
  }

  .fixed-button img {
    /* this code will make the image white and the background color will be the same as the background color of the button */
    /*this code will make the grey image white */

    filter: brightness(0) invert(1);
    width: 2rem;
    height: 2rem;
  }

  .posts-col {
    height: max-content;
    /* min-height: 100%;  */
    top: 0;
    width: 550px;
    /* width: 100%; */
    /* transform: translateY(55px); */
    padding: 1rem 1rem 10rem;
    /* height: 100vh; */
    background-color: rgba(0, 0, 0, 0.016);
    filter: blur(1);
    /* border: 2px solid rgba(0, 0, 0); */
  }

  .translateForUser {
    margin-left: 200px;
    animation: translateForUser 0.5s ease-in-out;
  }

  .rev {
    animation: revtranslateForUser 0.5s ease-in-out;
  }

  

  @keyframes translateForUser {
    0% {
      margin-left: 0;
    }

    100% {
      margin-left: 200px;
    }
  }

  @keyframes revtranslateForUser {
    0% {
      margin-left: 200px;
    }

    100% {
      margin-left: 0;
    }
  }

  .first-post-bubble {
    justify-content: flex-start !important;
    /* margin: 0 !important; */
  }

  .first-post-bubble .bubble {
    /* margin: 0 !important; */
  }

  .first-post {
    margin-top: 75px;
  }

  .user {
    top: 0;
    right: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    /* gap: 1rem; */
    /* margin-bottom: 1rem; */
    min-width: min-content;
    width: max-content;
    /* padding-right: 3rem; */
    height: 100%;
    /* height: min-content; */
    /* left: 0; */
    transform: translate(-550px, 0%);
    pointer-events: all;
    /* background-color: blue; */
  }

  .post-settings {
    right: 0;
    top: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
    /* gap: 1rem; */
    /* margin-bottom: 1rem; */
    width: 100%;
    padding-left: 2rem;
    padding-top: 0.5rem;
    /* height: 100vh; */
    min-height: 15rem;
    /* height: min-content; */
    /* left: 0; */
    transform: translate(100%, 0%);
    pointer-events: all;
    /* background-color: blue; */
  }

  .post-settings svg {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    display: block;
    position: relative;
    border-radius: 100%;
    padding: 0.5rem;
    background-color: white;
    /* box-shadow: 0 3px 20px rgba(0, 0, 0, 0.24); */
  }

  .bubble {
    width: max-content;
    min-width: 200px;
    border-radius: 10px;
    padding: 1rem;
    background-color: white;
    margin: auto 0 auto 0;
    animation: rightIn 0.5s ease-in-out;
  }

  .inline {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    flex-direction: row;
  }

  .bubble-settings {
    width: 10rem;
    height: 10rem;
    cursor: pointer;
    display: block;
    position: relative;
    animation: leftIn 0.5s ease-in-out;
    border-radius: 10px;
    padding: 1rem;
    background-color: black;
  }

  .hidden {
    display: none;
    width: auto;
  }

  @keyframes rightIn {
    0% {
      transform: translateX(5%);
      opacity: 0;
    }

    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes leftIn {
    0% {
      transform: translateX(-2.5%);
      opacity: 0;
    }

    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .header-link {
    font-size: 50%;
    cursor: pointer;
  }

  .header-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* margin-right: 1rem; */
    border-radius: 100%;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.251);
  }

  .header-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .header-link h3 {
    margin: 0;
    font-size: large;
  }

  .header-title {
    cursor: pointer;
  }

  .contained-modal-title-vcenter {
    color: #000;
  }

  
}

.modal-header {
  border-bottom: none;
}

.modal-footer {
  border-top: none;
}

.fancy {
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.5);  
   */
  border: none;
  outline: none;
  font-size: 125%;
}

.header-logo {
  /* width: 100px; */
  height: 100px;
  /* border-radius: 50%; */
  /* margin-right: 1rem; */
  /* border-radius: 100%; */
  /* overflow: hidden; */
  cursor: pointer;
  background-color: transparent;
  height: 100%;
}

.header-logo img {
  /* width: 100%; */
  height: 100%;
  object-fit: cover;
  /* transform: translateY(5px); */
}

.options {
  position: fixed;
  background-color: white;
  /* margin-top: 1rem; */
  display: flex;
  flex-direction: column;
  top: 55px;
  border-radius: 0 0 15px 15px;
  width: 200px;
  margin-top: 0.5rem;
  border-left: rgb(223, 223, 223) solid 1px;
  border-right: rgb(223, 223, 223) solid 1px;
  border-bottom: rgb(223, 223, 223) solid 1px;
}

.option {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  cursor: pointer;
  padding: 1rem;
  /* margin-bottom: 1rem; */
}

.option:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.option h5 {
  margin: 0;
  font-size: 1rem;
}

.search-results {
  position: fixed;
  margin-top: 0.9rem;
  /* background-color: white; */
  /* width: 100%; */
  /* height: 100%; */
  /* z-index: 100; */
  /* top: 0; */
  width: 400px;
  /* min-width: 300px; */
  max-height: 60vh;
  /* overflow: overlay; */
  /* left: 0; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  /* padding: 0 1rem 1rem; */
  /* background-color: rgba(0, 0, 0, 0.5); */
  animation: fadeIn 0.5s ease-in-out;
  font-size: small;
  border-radius: 0 0 15px 15px;
  background-color: white;
  overflow: auto;
  border-left: rgb(223, 223, 223) solid 1px;
  border-right: rgb(223, 223, 223) solid 1px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.search-results h3 {
  /* color: white; */
  margin: 0;
  font-size: medium;
  /* width: max-content; */
}

.search-results p {
  color: rgb(108, 108, 108);
  margin: 0;
  font-size: small;
  /* width: max-content; */
}

.search-results img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  /* margin-right: 1rem; */
  border-radius: 100%;
  overflow: hidden;
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  object-fit: cover;
}

.bubble img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  /* margin-right: 1rem; */
  border-radius: 100%;
  overflow: hidden;
  cursor: pointer;
  background-color: rgb(0, 0, 0);
}

.search-result {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  cursor: pointer;
  border-bottom: rgb(223, 223, 223) solid 1px;
  /* border-left: 1px solid rgb(153, 153, 153);
  border-right: 1px solid rgb(153, 153, 153); */
  border-radius: 0 0 15px 15px;

  background-color: white;
  /* border-radius: 15px; */
  padding: 1rem;
}

.search-result button {
  margin-left: auto;
  margin-right: 0;
}

svg {
  outline: none;
}

.background {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* top: 0; */
  left: 0;
  /* background-color: rgba(0, 0, 0, 0.5); */
}

.header-in {
  padding: 0.75rem 0;
}

.search-result-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.header-search {
  position: relative;
  width: 100%;
  /* height: 100%; */
  /* min-height: 40px; */
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  /* padding: 0 1rem; */
  /* margin-top: 1rem; */
  /* margin-bottom: 1rem; */
  background-color: rgb(245, 245, 245);
  border-radius: 50px;
  max-width: 550px;
  /* margin-left: 200px; */
  margin-left: 1rem;
}

.header-center {
  width: 50%;
}

.message-search {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0 1rem;
  background-color: rgb(245, 245, 245);
  border-radius: 50px;
  margin: 1rem auto;
}

.bubble-info h3 {
  margin: 0;
  font-size: large;
}

.bubble-info p {
  margin: 0;
  font-size: small;
}

.search-result-img img {
  margin: 0;
  object-fit: cover;
}

.header-right svg {
  width: 20px;
  height: 20px;
  color: rgb(91, 91, 91);
  cursor: pointer;
}

.pfpForm {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.pfpForm input {
  width: 100%;
  height: 100%;
  display: none;
}


.pfpForm img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  /* margin-right: 1rem; */
  border-radius: 100%;
  overflow: hidden;
  cursor: pointer;
  background-color: rgb(0, 0, 0);
}

.pfpForm2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.pfpForm2 input {
  width: 100%;
  height: 100%;
  display: none;
}

.pfpForm2 img {
  width: 175px;
  height: 175px;
  border-radius: 50%;
  /* margin-right: 1rem; */
  border-radius: 100%;
  overflow: hidden;
  cursor: pointer;
  background-color: rgb(0, 0, 0);
}

svg {
  cursor: pointer;
  font-size: larger;
  /* padding: 1rem; */
}

.modal-footer {
  gap: 1rem;
}

.apart {
  justify-content: space-between;
}

.error {
  color: red;
}

.modal-body img {
  width: 100%;
  height: 100%;
  max-height: 500px;
  object-fit: cover;
  cursor: pointer;
  /* object-fit: contain; */
}

.user-profile {
  width: 120%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  /* padding: 3rem; */
  padding: 2rem 1rem 0;
  padding-top: 90px;
  background-color: white;
  border-bottom: rgb(153, 153, 153) solid 1px;
  /* transform: translateY(75px); */
}

.user-profile img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  /* margin-right: 1rem; */
  border-radius: 100%;
  overflow: hidden;
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  object-fit: cover;
}

.user-profile h3 {
  margin: 0;
}

.user-profile p {
  margin: 0;
}

.start {
  justify-content: space-between;
  width: 100%;
}

.gap-half {
  display: flex;
  gap: 0.5rem;
}

.gap-1 {
  display: flex;
  gap: 1rem;
}

.max-available {
  width: max-content;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.min {
  min-height: 100%;
}

.align {
  align-items: center;
}

.justify {
  justify-content: center;
}

.user-element {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  cursor: pointer;
  padding: 1rem;
  border-bottom: 1px solid rgb(153, 153, 153);
  background-color: white;
  border-radius: 15px;
}

.user-element:hover {
  background-color: rgb(245, 245, 245);
}

.user-element-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  /* margin-right: 1rem; */
  border-radius: 100%;
  overflow: hidden;
  cursor: pointer;
  background-color: rgb(0, 0, 0);
}

.user-element-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-element-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.user-element-info h3 {
  margin: 0;
  font-size: larger;
}

.user-element-info p {
  margin: 0;
  font-size: large;
}

.info-text {
  font-size: large;
  color: gray;
  margin: 0 auto;
  text-align: center;
  padding: 1rem;
}

.message-overlay {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  overflow: hidden;
}

@keyframes fadeinUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.message-overlay-content {
  width: 100%;
  max-width: 550px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  /* background-color: white; */
  /* liner gradient with white top and transparent bottom */
  background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  border-radius: 15px;
  margin-top: 75px;
  animation: fadeinUp 0.5s;
}

.message-overlay-content h3 {
  margin: 0;
}

.message-overlay-content p {
  margin: 0;
}

.message-overlay-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.message-overlay-header svg {
  font-size: larger;
  cursor: pointer;
}

.start {
  justify-content: flex-start;
  display: flex;
  gap: 1rem;
}

.message-overlay-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
  overflow-y: auto;
}

.message-overlay-body-content {
  position: relative;
  width: 100%;
  /* height: auto; */
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.25rem;
  /* margin-bottom: 5rem; */
  /* padding-bottom: 200px; */
}

.message-overlay-body-input {
  /* width: 100%; */
  height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: fixed;
  max-width: 550px;
  bottom: 1rem;
}

.message {
  background-color: grey;
  width: max-content;
  margin: 0 auto 0 0;
  color: white;
  border-radius: 5px;
  padding: 0.5rem;
  max-width: 300px;
}

.user-message {
  background-color: rgb(52, 89, 255);
  margin: 0 0 0 auto;
}

.message-overlay-body-content-end {
  position: relative;
  min-height: 100px;
  width: 100%;
  /* background-color: blue; */
}

.w {
  max-width: 550px;
}

.post-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0.75rem;
  gap: 0.85rem;
  animation: leftIn 0.5s ease-in-out;
}

.post-item p {
  text-align: center;
}

.liked {
  color: rgb(255, 96, 122);
}

.none {
  display: none !important;
}

.back {
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.login {
  max-width: 550px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.login-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.login-header h3 {
  margin: 0;
  cursor: pointer;
}

.login p {
  margin: 0;
}

.login-modal {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  /* background-color: rgba(255, 255, 255, 0.9); */
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1));
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  overflow: hidden;
}

.login-modal-content {
  position: relative;
  width: fit-content;
  max-width: 550px;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  background-color: white;
  padding: 5rem;
  /* liner gradient with white top and transparent bottom */

  border-radius: 15px;
  animation: fadeinUp 0.5s;
  overflow: hidden;
}

.login-modal-content h3 {
  margin: 0;
}

.login-modal-content p {
  margin: 0;
}

.login-modal-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
}

.login-modal-header svg {
  font-size: larger;
  cursor: pointer;
}

.login-modal-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 0;
  /* overflow-y: auto; */
  /* overflow: hidden; */
}

.login-modal-body-content {
  position: relative;
  width: 100%;
  /* height: auto; */
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.25rem;
  /* margin-bottom: 5rem; */
  /* padding-bottom: 200px; */
}

.pg1,
.pg2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 0;
  transition: all 0.5s;
  width: 100%;
  min-width: 275px;
}

.css-md26zr-MuiInputBase-root-MuiOutlinedInput-root,
.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
  /* width: 100%; */
  border-radius: 100px !important;
}

.login-modal-body-content-end {
  position: relative;
  min-height: 100px;
  width: 100%;
  /* background-color: blue; */
}

.jrow {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.jcol {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.center {
  justify-content: center;
  align-items: center;
}

.corner {
  border-radius: 100px;
}

.back-cover {
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.pg1-show {
  transform: translateX(0%);
}

.pg1-hidden {
  transform: translateX(-200%);
}

.pg2 {
  left: 0;
  top: 5rem;
  bottom: 8.5rem;
  position: absolute;
  padding: 0 5rem;
}

.pg2-show {
  transform: translateX(0%);
}

.pg2-hidden {
  transform: translateX(200%);
}

.create-form {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
  padding: 0;
  min-width: 275px;
  height: 12rem;
  position: relative;
  /* overflow-y: auto; */
  /* overflow: hidden; */
  transition: all 0.5s ease;
}

.padding {
  padding: 0.5rem 1.5rem;
}

.modal-dialog {
  justify-content: center;
}

.post-modal .modal-content .modal-body {
  padding-top: 0;
}

.modal-body {
  padding: 1.5rem;
}

.post-modal .modal-content {
  max-width: 550px;
}

.post-date p {
  margin: 0;
  padding-right: 1rem;
}

/* .modal-open {
  overflow-y: auto !important;
  position: fixed;
} */

body {
  /* overflow-y: auto !important; */
}

.post-modal-data {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  padding: 0;
  padding-top: 0.5rem;
  /* overflow-y: auto; */
  /* overflow: hidden; */
}

.post-modal-data p {
  margin: 0;
  width: max-content;
  min-width: 1rem;
}

.post-data {
  gap: 0.5rem;
}

.end {
  display: flex;
  justify-content: flex-end;
}

.post-user {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  cursor: pointer;
}

.post-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.post-user h3 {
  margin: 0;
  font-size: large;
}

.post-user p {
  margin: 0;
  font-size: small;
}

.post-user img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  /* margin-right: 1rem; */
  border-radius: 100%;
  overflow: hidden;
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  margin: 0;
}

.post-user-img img {
  width: 50px !important;
  height: 50px !important;
  border-radius: 50%;
  /* margin-right: 1rem; */
  border-radius: 100%;
  overflow: hidden;
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  margin: 0;
  object-fit: cover;
}

.post-img {
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.5);  
   */
  border: none;
  outline: none;
  font-size: 125%;
}

.post-comments-container {
  padding-top: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  gap: 1rem;
  /* overflow-y: auto; */
  /* overflow: hidden; */
}

.post-comment-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  padding-top: 1rem;
  padding-left: 1rem;
  /* overflow-y: auto; */
  /* overflow: hidden; */
}

.css-8ewcdo-MuiInputBase-root-MuiOutlinedInput-root {
  border-radius: 35px !important;
}

.commented {
  color: rgb(63, 213, 63);
}

.header-border {
  border-bottom: 1px solid rgb(202, 202, 202);
  display: flex;
  justify-content: center;
}

.back-image {
  position: fixed;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  background-color: rgba(0, 0, 0, 0.134);
  top: 0;
  left: 0;
  overflow: hidden;
}

.back-image img {
  position: relative;
  max-width: 95%;
  max-height: 95%;
  object-fit: contain;
  /* animation: growIn 0.5s ease-in-out; */
}

@keyframes growIn {
  0% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

.loaded {
  /* animation: growIn 0.5s ease-in-out; */
}

.opac {
  opacity: 0;
  z-index: -1000 !important;
  pointer-events: none;
}

.image-display {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.normalPostImg {
  max-height: 500px;
  cursor: pointer;
  margin: 0;
  margin-bottom: 0;
  border-radius: 15px;
  object-fit: cover;
  background-color: rgba(158, 160, 173, 0.085);
  filter: brightness(1);
  transition: all 0.5s;
}

.normalPostImg:hover {
  transition: all 0.5s;
  filter: brightness(0.95);
  background-color: rgba(158, 160, 173, 0.247);
}

.column {
  flex-direction: column;
}

.rows {
  flex-direction: row !important;
}

.user-profile-stats {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  padding: 0;
  padding-top: 0.5rem;
  /* overflow-y: auto; */
  /* overflow: hidden; */
}

.user-profile-stats p {
  margin: 0;
  width: max-content;
  min-width: 1rem;
}

.user-profile-stats h3 {
  margin: 0;
  font-size: large;
}

.user-profile-stats h3:hover {
  cursor: pointer;
}

.user-profile-stat {
  gap: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.profile-display {
  gap: 2rem;
}

.profile-display h5 {
  cursor: pointer;
  margin: 0;
  padding: 0.5rem;
  border-bottom: rgba(0, 0, 0, 0) 3px solid;
}

.selected-profile-display {
  border-bottom: black 3px solid !important;
}

.shareModal {
  width: 100%;
}

.shareModal .modal-m {
  /* width: max-content !important; */
}

.shareModal .modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 0;
  padding-bottom: 0;
}

.w-90 {
  width: 90% !important;
}

.backdrops {
  /* background-color: rgba(0, 0, 0, 0.5); */
  z-index: 1055 !important;
}

.edit {
  max-width: 550px;
  padding-top: 75px;
}

.w-33 {
  width: 33% !important;
  max-width: 33% !important;
}

.w-66 {
  width: 66% !important;
  max-width: 66% !important;
}

.mw-800 {
  max-width: 800px !important;
  transition: all 0.5s ease-in-out;
}

.mw-700 {
  max-width: 700px !important;
  transition: all 0.5s ease-in-out;
}

.mw-600 {
  max-width: 600px !important;
  transition: all 0.5s ease-in-out;
}

.mw-500 {
  max-width: 500px !important;
  transition: all 0.5s ease-in-out;
}

.mw-400 {
  max-width: 400px !important;
  transition: all 0.5s ease-in-out;
}

.setting-options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  /* gap: 1rem; */
  max-width: 200px !important;
  padding-top: 75px;
  height: 100%;
}

.setting-option {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
  cursor: pointer;
  padding: 1rem;
}

.setting-option:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.setting-option h5 {
  margin: 0;
  margin-left: 1rem;
}

.setting-option p {
  margin: 0;
  margin-left: 1rem;
}

.setting-option svg {
  height: 1.2rem;
  width: 1.2rem;
}

.red {
  color: rgb(234, 78, 78);
}

.mt {
  margin-top: 75px !important;
}

.pt {
  padding-top: 75px !important;
}

.lead-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  /* padding: 1rem; */
  padding-top: 0;
  padding-bottom: 0;
  height: 5rem;
}

.lead-head h5 {
  margin: 0;
  /* margin-left: 1rem; */
}

.lead-head h4 {
  margin: 0;
  /* margin-left: 1rem; */
}

.lead-head h1 {
  margin: 0;
  /* margin-left: 1rem; */
}

.selected-leader-stat {
  border-bottom: black 3px solid !important;
}

.user-leaderboard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  /* max-width: 200px !important; */
  height: 100%;
}

.user-leaderboard-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  /* gap: 1rem; */
  /* max-width: 200px !important; */
  height: 100%;
}

.user-leaderboard h3 {
  margin: 0;
  margin-left: 0.5rem;
  font-size: medium;
}

.user-leaderboard p {
  margin: 0;
  margin-left: 0.5rem;
  font-size: smaller;
}

.user-leaderboard-img {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  object-fit: cover;
  background-color: black;
}

.user-leaderboard-img img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.user-leaderboard-img:hover {
  cursor: pointer;
}

td p {
  margin: auto;
}

.stats {
  padding: 1rem;
}

.bronze {
  color: rgb(205, 127, 50);
}

.silver {
  color: rgb(192, 192, 192);
}

.gold {
  color: rgb(255, 215, 0);
}

.plat {
  color: rgb(229, 229, 229);
}

.diamond {
  color: rgb(0, 191, 255);
}

.prog {
  margin-bottom: 1rem;
}

.user-medium {
  width: 100%;
  /* height: 3rem; */
  width: 3rem;
  border-radius: 50%;
  object-fit: cover;
  /* background-color: black; */
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

.user-medium-img {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  object-fit: cover;
  
}

.user-medium img {
  background-color: black;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.user-medium p {
  margin: 0;
  /* margin-left: 1rem; */
  /* font-size: medium; */
}

.leaderboard {
  padding: 1rem;
}


.modal-page {
  width: 100%;
  transition: all 0.5s ease;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
}

.modal-page p {
  margin: 0;
}

.current {
  transform: translateX(0);
}

.left-modal-page {
  transition: all 0.5s ease;
  transform: translateX(-200%);
}

.right-modal-page {
  transition: all 0.5s ease;
  transform: translateX(200%);
}

.w-48 {
  width: 48% !important;
}

.height-1 {
  height: 250px !important;
  transition: all 0.5s ease;
}

.height-3 {
  height: 325px !important;
  transition: all 0.5s ease;
}

.interest {
  display: flex;
  border: 1px solid black;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  width: max-content;
  padding: 0.5rem 1rem;
  transition: all 0.5s ease;
  cursor: pointer;
}

.interest h5 {
  margin: 0;
}

.interests {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.height-2 {
  height: 575px !important;
  width: 550px !important;
  transition: all 0.5s ease;
}

.container-page-2 {
  width: 600px !important;
  max-width: 600px !important;
}

.selected-interest {
  border: 1px solid rgb(215, 84, 32) !important;
  background-color: rgb(215, 84, 32);
  color: white;
  transition: all 0.5s ease;
}

.scroll-y {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-y: scroll;
  height: 500px;
}

.user-notif {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  /* max-width: 200px !important; */
  height: 100%;
}

.user-notif p {
  margin: 0;
  margin-left: 0.5rem;
  font-size: medium;
}

.user-notif-img {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  object-fit: cover;
  background-color: black;
}

.user-notif-img img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.notif {
  margin-bottom: 1rem;
  /* cursor: pointer; */
}

.cursor {
  cursor: pointer;
}

.notif-div {
  position: relative;
}

.notif-overlay {
  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 1rem;
  height: 1rem;
  background-color: rgba(255, 111, 0, 0.897);
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 150px;
  transform: translate(40%, 25%);
  font-size: small;
  cursor: pointer;
}

.notif-right {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}