*::-webkit-scrollbar-track {
  background-color: rgb(76, 76, 76) !important;
}

#root {
  width: 100%;
  height: 100%;
  background-size: cover;
}

html {
  /* scroll-behavior: smooth !important; */
  overflow-x: hidden;
  height: 100%;
  background-color: black;
}

body {
  height: 100%;
  width: 100%;

}

h1 {
  font-family: "Fira Sans Condensed", sans-serif;
}

p {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
}

.back {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -0.5;
  object-fit: cover;
  opacity: 1;
  background-color: black;
}

.back2 {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  object-fit: cover;
}

.front {
  z-index: 1;
}

.third-party {
  color: black !important;
  /* width: 100%; */
  /* padding: 0 2rem; */
  min-width: 275px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* margin-top: 1rem; */
  background-color: white;
  border-radius: 100px;
  /* justify-content: space-between; */
  padding: 0.5rem;
  gap: 1rem;
  border-width: 1px;
  border-style: solid;
}

.third-party img {
  height: 1.75rem;
}

.third-party p {
  /* width: 100%; */
  color: black !important;
  margin: 0;
}

.third-party:hover {
  cursor: pointer;
  background-color: rgb(215, 215, 215);
}

.google {
  /* background: linear-gradient(
    to bottom,
    rgb(255, 123, 113) 0%,
    rgb(252, 59, 123) 100%
  ); */
  border-color: rgb(255, 69, 69);
}

.none {
  display: none !important;
}

.inline {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  flex-direction: row;
}

.body {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background: linear-gradient(to bottom, rgb(245, 97, 97, 0.85) 0%, rgb(194, 13, 98, 0.85) 100%); */
}


.login {
  /* max-width: 550px; */

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.login-header {
  color: white !important;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.login-header h3 {
  margin: 0;
  cursor: pointer;
}

.login p {
  margin: 0;
  color: black !important;
}

.login h5 {
  color: white !important;
}

.login-modal {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  /* background-color: rgba(255, 255, 255, 0.9); */
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1));
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;

  overflow: hidden;
}

.login-modal-content {

  position: relative;
  width: 100%;
  height: 100%;
  max-width: 450px;
  max-height: 550px;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  background-color: white;
  padding: 2.5rem;
  border-radius: 15px;
  animation: fadeinUp 0.5s;
  overflow: hidden;

}

.login-modal-content h3 {
  margin: 0;
}

.login-modal-content p {
  margin: 0;
}

.login-modal-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
}

.login-modal-header svg {
  font-size: larger;
  cursor: pointer;
}

.login-modal-body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 0;
  /* overflow-y: auto; */
  /* overflow: hidden; */
}

.login-modal-body img {
  width: 100%;
  margin-left: 1rem;
  height: auto;
  object-fit: cover;
  top: 0;
  left: 0;
}

.login-modal-body-content {
  position: relative;
  width: 100%;
  /* height: auto; */
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.25rem;
  /* margin-bottom: 5rem; */
  /* padding-bottom: 200px; */
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border-radius: 3rem !important;
}

.pg1,
.pg2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 0;
  transition: all 0.5s;
  width: 100%;
  min-width: 275px;
}

.css-md26zr-MuiInputBase-root-MuiOutlinedInput-root,
.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
  /* width: 100%; */
  border-radius: 100px !important;
}

.login-modal-body-content-end {
  position: relative;
  min-height: 100px;
  width: 100%;
  /* background-color: blue; */
}

.screenshot {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 2px rgb(85, 85, 85) solid;
  pointer-events: none;
  border-radius: 24px;
}

.instructions span {
  width: 1rem !important;
  height: 1rem !important;
  transform: translateY(1.5rem);
  color: rgb(85, 85, 85);
  margin-right: 0.5rem;
}

.instructions {
  position: absolute;
  top: 0;
  left: 0;
  margin: 2rem;
}

.preview {
  position: absolute;
  top: 0;
  right: 0;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.preview img {
  width: 200px;
  height: 200px;
  border-radius: 24px;
  border: 2px rgb(85, 85, 85) solid;
  margin-bottom: 1rem;
  background-color: rgba(0, 0, 0, 0.248);
}

.hidden {
  opacity: 0;
}

a {
  text-decoration: none;
  color: rgb(255, 80, 153) !important;
  cursor: pointer;
}

.upload {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 1rem;
  z-index: 2;
  margin: 2rem;
  color: white;
}

.signout {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  margin: 2rem;
  color: white;
}

body {
  background: radial-gradient(circle at center, rgb(93, 93, 93), black 50%) !important;
  background-color: black;

}

@media (min-aspect-ratio: 1/1) and (max-height: 900px) {
  .login-modal-content img {
    width: 50% !important;
  }
}

@media (max-aspect-ratio: 1/1) {
  .login {}

  .login-header h1 {
    font-size: 4rem !important;
  }

  .login h5 {
    font-size: 2rem !important;
  }

  .third-party p {
    color: black !important;
  }

  .third-party {
    margin-top: 2rem;
    padding: 2rem 3rem;
  }

  .login-modal p {
    color: black !important;
  }

  .login-modal-content {
    max-width: 90vw !important;
    height: auto !important;
    max-height: min-content !important;
    border-radius: 3rem;
  }

  .login-modal-content h1 {
    font-size: 3rem !important;
  }

  .login-modal-content img {
    width: 80% !important;
  }

  .login-modal-body {
    justify-content: start;
    height: min-content !important;
  }

  .login-modal-content p {
    font-size: 2rem !important;
  }

  .css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
    font-size: 3rem !important;
  }

  .css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
    font-size: 2rem !important;
    padding: 1rem !important;
  }

  .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
    padding: 1rem !important;
  }

  .btn {
    font-size: 2rem !important;
    padding: 1.5rem 3.5rem !important;
    border-radius: 3rem !important;
  }

  .css-14lo706 {
    font-size: 2.3rem !important;
  }

  .css-1sumxir-MuiFormLabel-root-MuiInputLabel-root {
    font-size: 2.25rem !important;
  }

  .MuiInputLabel-shrink {
    transform: translate(2.25rem, -1.25rem) scale(0.9) !important;
  }

  /*
  .css-sghohy-MuiButtonBase-root-MuiButton-root {

    padding: 2rem 3.5rem !important;
    border-radius: 1.5rem !important;
    font-size: 2rem !important;
    background-color: white !important;
    color: black !important;
  }

  p {
    font-size: 2rem !important;
    color: white !important;
  }

  .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
    font-size: 3rem !important;
    background-color: gray !important;
    border-radius: 1rem !important;
  }

  

  .css-1sumxir-MuiFormLabel-root-MuiInputLabel-root,
  .css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
    font-size: 3rem !important;

  }

  .MuiInputLabel-shrink {
    transform: translate(0, -2rem) scale(0.75) !important;
  }

  .css-14lo706 {
    font-size: 1.5rem !important;
  }

  */
}

.login .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input:-webkit-autofill {
  border-radius: 5rem !important;
}

.login .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  background-color: white !important;
  color: rgb(0, 0, 0) !important;
  border-radius: 3rem;
}

.login .css-1sumxir-MuiFormLabel-root-MuiInputLabel-root,
.login .css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  color: rgba(0, 0, 0, 0.614) !important;
}

.login .css-wgai2y-MuiFormLabel-asterisk {
  color: rgba(255, 0, 0, 0.614) !important;
}